agm-map {
  height: 400px;
}
.agm-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-card table tr, table td {
  font-size: 18px
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}
.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.upload-btn{
  z-index: 100;
}
@media (max-width: 767.99px) {
  .img-wrapper {
    display: flex;
    justify-content: center;
  }
}